name: build package

#on:
#  push:
#    branches:
#      - main
# Controls when the workflow will run
on:
  pull_request:
    branches: [ master ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install poetry
      run: |
        python -m venv venv
        source venv/bin/activate
        pip install poetry

    - name: Install dependencies
      run: poetry install

    - name: Build package
      run: poetry build

    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: package
        path: dist/*